<div class="container">
  <h1>This is a cocktail detail page</h1>
    <h2><%= @cocktail.name %></h2>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>


    <div class="container-doses-description">
    <% @cocktail.doses.each do |dose| %>
      <p><%= dose.description  %></p>
      <%= link_to "delete",dose_path(id: dose.id), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <h4>Add a dose:</h4>
          <%= simple_form_for [ @cocktail, @dose ] do |d| %>
            <%= d.input :description, placeholder: "Add a dose description" %>
            <%= d.association :ingredient, placeholder: "Add an ingredient" %>
            <%= d.submit "Add", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>


    <%= link_to "Back to cocktails", root_path, class:"btn btn-dark" %>
</div>
